@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

b{
	font-weight: normal;
	font-variant: small-caps;
}

abbr.name{
	white-space: nowrap;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

footer{
	margin-top: 1em;
	text-align: right;
}

.signature{
	font-variant: small-caps;
}

[epub|type~="se:letter.dateline"]{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="se:letter.dateline"] > time{
	font-style: italic;
}

[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

[epub|type~="z3998:song"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}
